.footer-area {
    background: #337AB7;
    text-align: center;
    padding: 20px 0;
    color: white;
}
.container-fluid.use {
    min-height: 500px !important;
}
.footer-area p{
    margin: 0;
}
a.navbar-brand {
    font-size: 27px;
    font-weight: 700;
}


